In [1]:
import pandas as pd

In [42]:
ECE = pd.read_csv('board2.csv')
ECE

,Name,Gender,Track,Hometown,Math,Electronics,GEAS,Communication
0,S1,Male,Instrumentation,Luzon,58,89,75,78
1,S2,Female,Communication,Mindanao,52,75,90,52
2,S3,Female,Instrumentation,Mindanao,83,74,77,57
3,S4,Male,Instrumentation,Visayas,65,58,91,68
4,S5,Male,Communication,Luzon,59,86,43,88
5,S6,Female,Microelectronics,Visayas,88,45,86,83
6,S7,Female,Instrumentation,Luzon,66,60,60,48
7,S8,Male,Instrumentation,Luzon,49,81,64,53
8,S9,Male,Instrumentation,Luzon,50,36,63,42
9,S10,Male,Microelectronics,Mindanao,80,84,61,44
10,S11,Female,Communication,Visayas,48,56,48,67
11,S12,Male,Communication,Visayas,89,67,84,64
12,S13,Female,Microelectronics,Luzon,88,35,83,43
13,S14,Female,Microelectronics,Luzon,83,77,89,73
14,S15,Female,Microelectronics,Mindanao,69,41,40,86
15,S16,Female,Communication,Luzon,71,70,87,81
16,S17,Female,Microelectronics,Mindanao,81,79,77,45
17,S18,Male,Communication,Visayas,81,40,81,52
18,S19,Male,Microelectronics,Luzon,79,63,79,71
19,S20,Female,Communication,Mindanao,59,60,62,85
20,S21,Female,Microelectronics,Visayas,83,51,68,72
21,S22,Female,Communication,Visayas,64,39,89,58
22,S23,Male,Instrumentation,Luzon,84,70,74,47
23,S24,Female,Microelectronics,Visayas,85,45,60,41
24,S25,Male,Communication,Luzon,74,91,94,42
25,S26,Female,Instrumentation,Visayas,71,47,83,62
26,S27,Male,Microelectronics,Visayas,70,47,40,86
27,S28,Male,Communication,Visayas,85,53,80,53
28,S29,Male,Instrumentation,Mindanao,73,48,71,62
29,S30,Male,Instrumentation,Luzon,78,81,57,56

In [44]:
s=ECE.loc[(ECE['Track']=='Instrumentation')]

In [46]:
v=s.loc[(ECE['Hometown']=='Luzon')]

In [48]:
s.loc[(s['Electronics']>70),('Name','GEAS','Electronics')]

   Name  GEAS  Electronics
0    S1    75           89
2    S3    77           74
7    S8    64           81
29  S30    57           81

## B

In [83]:
d=ECE.describe()
d

            Math  Electronics       GEAS  Communication
count  30.000000     30.00000  30.000000      30.000000
mean   72.166667     61.60000  71.866667      61.966667
std    12.660237     17.29381  15.725519      15.376837
min    48.000000     35.00000  40.000000      41.000000
25%    64.250000     47.00000  61.250000      49.000000
50%    73.500000     60.00000  76.000000      60.000000
75%    83.000000     76.50000  83.750000      72.750000
max    89.000000     91.00000  94.000000      88.000000

In [85]:
x = d.mean()
x

Math             59.072113
Electronics      52.299226
GEAS             59.074023
Communication    52.261688
dtype: float64

In [51]:
a=ECE.loc[(ECE['Hometown']=='Mindanao')]

In [53]:
c=a.loc[(ECE['Gender']=='Female')]

In [57]:
c.loc[(c['Average']>=55),('Name','Track','Electronics','Average')]

KeyError: 'Average'